body {
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  line-height: 150%;
}

nav {
  background-color: rgba(103, 187, 119, 0.6);
  float: left;
  position: fixed;
  width: 100%;
}

h1 {
  font-size: 2em; /* 32px */  
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
}

h3 {
  font-style: italic;
}

p {
  font-size: 100%; /* 16px */
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
  color: black;
}

ul {
  list-style-type: none;
  float: right;
  
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

a {
  text-decoration: none;
  
}

a:link { color:black; } /* unvisited */
a:visited { color:purple; } /* visited */
a:hover { color:#0070BC; } /* mouse over */
a:active { color:#0070BD; } /* selected

